/* font imports */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,400italic,300italic,100italic,500italic,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.floating_keyboard {
    display: none;
    position: fixed;
    height: 30%;
    bottom: 32px;
    z-index: 10001;
    width: 100%;
    left: 0;
}
.content {
    width: 100%;
    height: 100%;
}


.topbar {
    background: none;
    width: 100%;
    height: 30px;
    color: black;
    font-family: "Lato";
    border-bottom: 1px dotted #666;
}
.title {
    padding-top: 3px;
    padding-left: 20px;
    font-size: 1.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 30%;
}

.send {
    float: right;
    text-align: right;
    margin-top: -22px;
    margin-right: 30px;
    max-width: 10%;
}
.send:hover {
    color: orange;
    cursor: pointer;
}
.sequencer {
    margin-top: 10px;
    margin-left: 20%;
}
.sample_trigger {
    margin-left: 20%;
    margin-top: 10px;
}
.seq_button {
    width: 10%;
    height: 14%;
    float: left;
    background: #333;
    margin-right: 11%;
    margin-bottom: 5%;
    color: #eee;
    font-family: "Avenir Next";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 8px;
}
.pgm_button {
    position: absolute;
    bottom: 70px;
    right: 50px;
    color: black;
    font-family: "Lato";
    font-weight: 300;
}
.sample {
    width: 24%;
    height: 25%;
    float: left;
    background: #333;
    margin-right: 3px;
    margin-bottom: 3px;
    color: black;
    font-family: "Avenir Next";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-filter: brightness(0.8);
}
.screen_title {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Avenir Next";
    font-weight: 100;
    font-size: 2em;
    color: black;
    margin-left: 40px;
}
.note_name {
    float: left;
    padding-left: 13px;
    font-size: 1.4em;
    font-weight: 100;
    padding-top: 10px;
}
.sample_name {
    text-align: left;
    font-size: 1.4em;
    font-weight: 400;
    padding-top: 10px;
    margin-left: 10px;
}
.sample:hover {
    -webkit-filter: brightness(1.0);
    cursor: pointer;
}
.samples {
    margin-top: 100px;
}
.inactive_dir {
    color: #555;
}
.active_dir {
    color: #ddd;
}
.active_dir:hover {
    color: #fff;
    cursor: pointer;
}
.active {
    background: #0CA7Db;
}
.active:hover {
    background: #0CB7DB;
}
.help_screen {
    width: 97%;
    height: 88%;
    position: absolute;
    z-index: 7;
    top: 40;
    left: 20;
    background: rgba(0, 0, 0, 0.8);
    color: black;
    font-family: Avenir;
    display: none;
}
.help_content {
    margin-left: 10px;
}
.help_content p {
    line-height: 2em;
}
.bottom_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    color: black;
}
.help_button {
    float: right;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: -25px;
    font-size: 1.4em;
}
.help_button:hover {
    color: orange;
    cursor: pointer;
}
.clear {
    font-size: 1.4em;
    padding-top: 3px;
}
.clear:hover {
    color: orange;
    cursor: pointer;
}
.dial {
    font-family: "Avenir Next";
}
.knobs_container {
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    height: 264px;
    display: none;
}
.knob_container {
    float: left;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.knob_container .knob_name {
    text-align: center;
    color: black;
    font-family: "Roboto";
}
.button {
    width: 24%;
    height: 25%;
    float: left;
    background: #333;
    margin-right: 3px;
    margin-bottom: 3px;
    color: black;
    font-family: "Roboto";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.3em;
}
.button:hover {
    background: #444;
    cursor: pointer;
}
.action_container {
    width: 90%;
    margin: 0px auto;
}
#engine {
    width: 0px;
    height: 0px;
}
.editor {
    background: none;
    color: black;
    font-family: Menlo, Monaco, monospace;
    line-height: 1.5em;
    resize: none;
    font-size: 0.8em;
    padding-left: 40px;
    padding-top: 10px;
    overflow-y: scroll;
    position: absolute;
    border: none;
    width: 40%;
    left: 20%;
    height: calc(100% - 80px);
    -webkit-transform: transform3d(0, 0, 0);
    z-index: 5;
}
.content_instr_details {
    width: 40%;
    margin-left: 20%;
    padding-left: 40px;
    color: black;
    bottom: 20px;
    font-family: "AvenirNext-Medium";
    line-height: 1.5em;
}
.editor:focus {
    outline: none;
}
.mini_bar{
    position: fixed;
    bottom: 272px;
    height:12px;
    width: 100%;
    background: none;

}
.mini_performer_space{
    height: 100%;
    width: Calc(99.5%/6);
    float: left;
}
.parsed_elements_container {
    position: fixed;
    display: none;
    right: 0;
    bottom: 32px;
    width: 100%;
    height: Calc(240px);
    z-index: 10000;
    background: rgba(255,255,255,0.8);
    border-top: 1px dotted #666;
    overflow-x: scroll;
}
.parsed_knobs {
    margin-left: 40px;
}
#csound_module {
    width: 0;
}
.console {
    height: 100%;
    overflow-y: scroll;
}
.slide_in {
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.4em;
}
.slide_in:hover {
    color: #0CA7DB;
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg)
}
.instrument_num {
    color: black;
    font-family: Helvetica;
    margin-left: 40px;
    margin-top: 20px;
}
.instruments_container {
    width: 9%;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    display: none;
}
.instrument_button {
    float: left;
    background: #222;
    display: inline-block;
    font-family: "Roboto";
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-filter: brightness(0.8);
    font-size: 0.8em;
    margin-right: 10px;
    margin-bottom: 1px;
    width: 100%;
    border-bottom: 1px dotted #aaa;
}
.instrument_button:hover {
    -webkit-filter: brightness(1.0);
    cursor: pointer;
}
.section_orc {
    margin-right: 10px;
    font-family: Monaco, Menlo, fixed-width;
    color: black;
    line-height: 1.4em;
    height: Calc(100% - 64px);
    overflow-x: scroll;
    overflow-y: scroll;
}
.seq_container {
    width: 100%;
    margin-left: 10%;
    margin-top: 40px;
}
.seq_button {
    background: #2a2a2a;
    float: left;
    width: 120;
    height: 120;
    margin-left: 10px;
    margin-right: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.keyboard_float {
    clear: both;
    padding: 0 7% 0;
    height: 82%;
    width: 100%;
}
.param_container {
    float: left;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Menlo;
    color: black;
}
.param_container input {
    background: #333;
    color: Orange;
    border: none;
    text-align: center;
    font-size: 1.4em;
}
.secondary_title {
    color: black;
    font-family: "Avenir Next";
    margin-left: 40px;
    font-weight: 100;
    font-size: 1.2em;
}
.options {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: black;
    font-family: "Lato";
}
.option {
    background: #444;
    display: inline-block;
    padding: 10px;
}
.option:hover {
    background: #666;
    cursor: pointer;
}
.name_field {
    margin-left: 20px;
}
.SocketField {
    width: 78%;
    height: 60px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #888;
    font-size: 1.4em;
    font-family: "Lato";
    color: black;
}
.SocketField:focus {
    outline: none;
}
.client_bar {
    position: fixed;
    width: 15%;
    background: none;
    border-left: 1px dotted #666;
    height: 100%;
    right: 0;
    top: 0px;
    color: black;
    display: none;
}
.client_button {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    font-family: "Lato";
    -webkit-filter: brightness(0.9);
    color: black;
}
.client_button:hover {
    -webkit-filter: brightness(1.0);
    cursor: pointer;
}
.client_bar_title {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: "Lato";
    font-weight: 100;
}
.obs_screen {
    background: none;
    width: 100%;
    height: Calc(100% - 64px);
    position: fixed;
    top: 32px;
    display: none;
    z-index: 10000;
}
.performer_space {
    float: left;
    background: none;
    width: 16.597%;
    height: 100%;
    border-right: 1px dotted white;
    -webkit-filter: brightness(0.9);
}
.performer_space:hover {
    -webkit-filter: brightness(1.0);
}
.performer_name {
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: "Roboto";
    color: white;
    font-weight: 100;
    font-size: 2em;
}
.performer_controlling {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-style: italic;
    color: white;
    font-weight: 1em;
    font-weight: italic;
}
.performer_event {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 300;
    color: white;
}
.notification_area {
    background: rgba(43, 43, 43, 0.92);
    border: 1px dotted #666;
    position: fixed;
    top: 35px;
    width: 300px;
    height: 80px;
    right: 10px;
    display: none;
    border-radius: 10px;
    z-index: 10002;
}
.notification_title {
    font-family: "Lato";
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}
.notification_content {
    font-size: 0.9em;
    font-family: "Lato";
    margin-left: 10px;
    line-height: 1.2em;
    color: white;
}

.my_color{
    position:fixed;
    background-color: #333;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 1px dotted #aaa;
    right: 10;
    bottom: 4px;

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .button {
        width: 20%;
        height: 21%;
        font-size: 0.9em;
    }
    body {
        background: #111;
    }
    .bottom_bar {
        display: block;
        z-index: 10002;
    }
    .screen_title {
        display: none;
    }
    .topbar {
        background: none;
        border: none;
        height: 8%;
    }
    .title {
        max-width: 60%;
        font-size: 1.2em;
        display: inline-block;
        text-align: center;
        clear: both;
        font-weight: light;
        font-family: "Avenir Next";
    }
    .send {
        margin-top: 10px;
    }
    .action_container {
        margin-top: 30px;
        display: none;
    }
    .knobs_container {
        display: block;
    }
    .knob_name {
        font-weight: light;
        font-family: "Avenir Next";
    }
    .keyboard {
        width: 100%;
        height: 55%;
        position: absolute;
        left: 0%;
        top: 30%;
    }
    .key .white_key {
        background: white;
        width: 33px;
        height: 100%;
        float: left;
        border: 1px solid grey;
    }
    .dir-left {
        z-index: 400;
    }
    .dir-right {
        z-index: 400;
    }
    .note_name {
        font-size: 1.0em;
        padding-left: 4px;
    }
    .parsed_elements_container {
        position: absolute;
        width: 100%;
        right: 10px;
        height: 100%;
        top: 100%;
        display: block;
    }
    .up {
        display: block;
    }
}
